{% extends "layout.html" %}

{% block newBooking %}
active
{% endblock %}

{% block head %}

<title>Viewings</title>
<script src="../../static/Viewings.js"></script>

<script>
let viewings = JSON.parse('{{ viewings| tojson | safe }}');
let edit = false;
</script>
<style>
:root {
  --animation-btn: 0;
}
</style>

{% endblock %}

{% block body %}
<div class="flex w-full flex-col items-center">
    <div class="text-sm breadcrumbs py-0">
        <ul>
            <li class="font-bold">Viewings</li> 
            <li><a href="/booking/tickets">Ticket Selection</a></li> 
            <li><a href="/booking/seats">Seat Selection</li>
            <li><a href="/booking/summary">Summary</a></li>
        </ul>
    </div>

<h1 class="text-3xl sm:text-6xl mt-9 text-center text-bg-base-200 align-middle font-bold">Select an Upcoming Viewing</h1>
</div>

{% if viewings|length != 0 %}

<div class="flex flex-1 flex-col m-4 sm:m-8 gap-5">

    <div class="bg-base-300 drop-shadow-md sticky top-[4.1rem] z-50 rounded-box p-3 gap-5 flex justify-between">

           <select id="orderSelector" onchange="getSort()" class="select w-full max-w-xs rounded-box">
                <option value="earliest">Earliest first</option>
                <option value="latest">Latest First</option>
            </select>

            <label class="input flex items-center gap-2 w-full rounded-box max-w-xs">
                <input class="w-full" type="text" onfocusout="hideEnter()" onfocus="showEnter()" onkeyup="searchName()" id="searchBar" placeholder="Search by title" class="grow" />
                <kbd class="kbd kbd-sm unfocusedKbd hidden md:block">/</kbd>
                <kbd id='enter' class="kbd kbd-sm hidden">⏎</kbd>
            </label>
    </div>

    <div id="viewingsContainer" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 min-[2000px]:grid-cols-5 gap-5">
        <div class="skeleton h-80 w-full viewingCard bg-base-300 rounded-box animate-pulse"></div>
        <div class="skeleton h-80 w-full viewingCard bg-base-300 rounded-box animate-pulse"></div>
        <div class="skeleton h-80 w-full viewingCard bg-base-300 rounded-box animate-pulse"></div>
        <div class="skeleton h-80 w-full viewingCard bg-base-300 rounded-box animate-pulse"></div>
        <div class="skeleton h-80 w-full viewingCard bg-base-300 rounded-box animate-pulse"></div>
        <div class="skeleton h-80 w-full viewingCard bg-base-300 rounded-box animate-pulse"></div>
        <div class="skeleton h-80 w-full viewingCard bg-base-300 rounded-box animate-pulse"></div>
        <div class="skeleton h-80 w-full viewingCard bg-base-300 rounded-box animate-pulse"></div>
    </div>
    {% else %}
    <div class= "flex flex-row p-4 gap-4 w-full my-10 items-center justify-center">
        <h2 class="text-4xl font-semibold">No viewings available </h2>
    </div>
</div>
{% endif %}



{% endblock %}

