{% extends 'layout.html' %} 

{% block head %}

    <title>Dashboard</title>
    <script src="
    https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js
    "></script>
    <script src="../static/Dashboard.js"></script>
    <script>
    let stats = {{ stats | tojson | safe }};
    let customers = {{ customers | tojson | safe }};
    let ticketChart;

    </script>


    <style>
    .card {
        padding: 1rem;
        {#border-radius: 1.5rem;#}
     }
     {#:root {#}
     {#   --rounded-box: 1.5rem;#}
     {#}#}

    </style>

{% endblock %}

{% block body %}

<div class="flex flex-col items-center px-8 py-2 justify-center w-full h-full">
    <h1 class="text-3xl sm:text-6xl font-bold">Dashboard</h1>
</div>

<!-- Content container -->
<div class="m-4 sm:m-8 flex gap-5 flex-col">
  <div id="optionBar" class="bg-base-300 drop-shadow-md sticky top-[4.1rem] z-50 rounded-box p-3 gap-5 transition-all duration-200 ease-in-out flex flex-col justify-between">

    <div class="flex flex-row justify-between">   
           <select id="timePeriodSelector" onchange="getViewings(searchElement=this)" class="select w-full max-w-xs rounded-box">
                <option value="all">All viewings</option>
                <option value="past">Past viewings</option>
                <option value="upcoming">Upcoming viewings</option>
                <option value="specific">Specific viewing</option>
           </select>
        
        <div class="flex flex-row join rounded-md">
            <label class="btn text-white btn-secondary join-item" for="viewStats" id="viewStatsLabel">
            
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0 0 20.25 18V6A2.25 2.25 0 0 0 18 3.75H6A2.25 2.25 0 0 0 3.75 6v12A2.25 2.25 0 0 0 6 20.25Z" />
            </svg>

            Statistics</label>
            <input type="radio" name="viewOptions" id="viewStats" value="viewStats" onclick="toggleView()" checked hidden>
            <input type="radio" name="viewOptions" id="viewUsers" value="viewUsers" onclick="toggleView()" hidden>
            <label class="btn text-white btn-secondary join-item" for="viewUsers" id="viewUsersLabel">
            
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
            </svg>


            Customers</label>

        </div>
    </div>


        <!-- Specific viewing selector using badges -->
        <div id="viewingSelector" class="flex flex-wrap p-2 flex-row gap-3 transition-all ease-in-out blur-lg duration-200 translate-y-1/2 opacity-0 hidden">

        </div>
  </div>

<div id="statsPage">
<div class="grid grid-cols-1 sm:grid-cols-5 lg:grid-cols-6 gap-4 w-full auto-rows-min h-screen auto-columns-max">
    <div class="sm:col-span-2 card w-full bg-base-200 card-primary flex-col gap-4 p-4 ">


        <div class="stats stats-vertical lg:stats-horizontal">

            <div class="stat ">
                <div class="stat-title">Total Tickets Sales</div>
                <div class="stat-value viewingStat" id="totalTickets">{{ stats['totalTickets'] }}</div>
                <div class="stat-desc viewingStat"></div>
            </div>
            <div class="stat">
                <div class="stat-title">Tickets Remaining</div>
                <div class="stat-value viewingStat" id="remainingSeats">{{ stats['remainingSeats'] }}</div>
                <div class="stat-desc text-wrap viewingStat" id="remainingSeatsSub">{{ stats['percentageSold'] }}% of seats sold</div>
            </div>

        </div>
            <div class="stats stats-vertical lg:stats-horizontal">

            <div class="stat">
                <div class="stat-title">Revenue Per Viewing</div>
                <div class="stat-value viewingStat" id="revenuePerViewing">{{ "£%.2f"|format(stats['meanRevenuePerViewing']) }}</div>
                <div class="stat-desc viewingStat" id="revenuePerViewingSub">{{ stats['percentageToMean']  }}</div>
            </div>
            <div class="stat">
                <div class="stat-title">Total Revenue</div>
                <div class="stat-value sm:text-3xl viewingStat" id="totalRevenue">{{ "£%.2f"|format(stats['totalRevenue']) }}</div>
                <div class="stat-desc viewingStat"></div>
            </div>
        </div>
    </div>

    <div class="sm:col-span-2 bg-base-200 card card-primary">
        <div class="stats overflow-x-hidden stats-vertical lg:stats-horizontal">

            <div class="stat">
                <div class="stat-title">Most popular viewing</div>
                <div class="stat-value viewingStat text-wrap text-2xl" id="mostPopularViewing">{{ stats['mostPopularViewing']['viewingName'] }}</div>
                <div class="stat-desc viewingStat" id="mostPopularViewingSub">with {{ stats['mostPopularViewing']['tickets'] }} tickets sold</div>
            </div>
            <div class="stat">
                <div class="stat-title">Least popular viewing</div>
                <div class="stat-value viewingStat text-wrap text-xl" id="leastPopularViewing">{{ stats['mostRemaining']['viewingName'] }}</div>
                <div class="stat-desc viewingStat" id="leastPopularViewingSub">with {{ stats['mostRemaining']['remainingSeats']}} tickets unsold</div>
            </div>
        </div>
    </div>

    <div class="sm:col-span-2 bg-base-200 card card-primary">
        <div class="card-header">
            <h3 class="card-title">Card Title</h3>
        </div>
    </div>

    <div class="sm:col-span-4 bg-base-200 card card-primary">
    <div class="card-header">
        <h3 class="card-title pb-5">Ticket Sales per Viewing</h3>

        <div class="w-full h-full"><canvas id="barChart1"></canvas></div>
        <script type="module" src="../static/barChart.js"></script>

    </div>
    </div>
        <div class="sm:col-span-2 bg-base-200 card card-primary">
        <div class="card-header">
            <h3 class="card-title">Revenue per Viewing</h3>

                <div class="w-full h-full p-5 flex items-center"><canvas id="pieChart1"></canvas></div>
            <script type="module" src="../static/pieChart.js"></script>
    </div>
</div>
</div>
</div>

<div id="usersPage" class="card bg-base-200">

    <p class="text-2xl w-full text-center p-5 text-slate-500 align-center font-semibold">Select a specific viewing to see ticket information</p>

    <div class="border-base-200">
        <table class="table table-sm w-full" id="">
            <thead>
                <tr class="bg-secondary text-white" id="customerTableHeader">
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                </tr>
            </thead>
            <tbody id="customerTable">
                {% for customer in customers %}
                <tr>
                    <td>{{ customer['firstName'] }} {{ customer['Surname'] }}</td>
                    <td>{{ customer['emailAddress'] }}</td>
                    <td>{{ customer['phoneNumber'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

</div>

{% endblock %}