{% extends 'layout.html' %} 

{% block head %}

<title>Dashboard</title>
<script src="
https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js
"></script>
<script src="../static/Dashboard.js"></script>
<script>
let stats = JSON.parse({{ stats | tojson | safe }});
</script>
<style>
.card {
    padding: 1rem;
    {#border-radius: 1.5rem;#}
 }
 {#:root {#}
 {#   --rounded-box: 1.5rem;#}
 {#}#}

</style>

{% endblock %}

{% block body %}

<div class="flex flex-col items-center px-8 py-2 justify-center w-full h-full">
    <h1 class="text-3xl sm:text-6xl font-bold">Dashboard</h1>
</div>

<!-- Content container -->
<div class="m-4 sm:m-8 flex gap-5 flex-col">
  <div class="bg-base-300 drop-shadow-md sticky top-[4.1rem] z-50 rounded-box p-3 gap-5 flex justify-between">

       <select id="orderSelector" onchange="getViewings()" class="select w-full max-w-xs rounded-box">
            <option value="all">All viewings</option>
            <option value="past">Past viewings</option>
            <option value="upcoming">Upcoming viewings</option>
            <option value="specific">Specific viewing</option>
       </select>


  </div>

<div class="grid grid-cols-1 sm:grid-cols-5 lg:grid-cols-6 gap-4 w-full auto-rows-min h-screen auto-columns-max">
    <div class="sm:col-span-2 card w-full bg-base-300 card-primary flex-col gap-5 ">
    <div class="stats h-min w-full stats-vertical lg:stats-horizontal">
  
        <div class="stat ">
            <div class="stat-title">Total Tickets Sales</div>
            <div class="stat-value viewingStat">{{ stats['totalTickets'] }}</div>
            <div class="stat-desc viewingStat">21% more than last month</div>
        </div>
        <div class="stat">
            <div class="stat-title">Total Revenue</div>
            <div class="stat-value viewingStat">{{ "£%.2f"|format(stats['totalRevenue']) }}</div>
            <div class="stat-desc viewingStat">21% more than last month</div>
        </div>
    </div>
        <div class="stats stats-vertical lg:stats-horizontal">
  
        <div class="stat">
            <div class="stat-title">Revenue Per Viewing</div>
            <div class="stat-value viewingStat">{{ "£%.2f"|format(stats['meanRevenuePerViewing']) }}</div>
            <div class="stat-desc viewingStat">Mean</div>
        </div>
        <div class="stat">
            <div class="stat-title">Tickets Remaining</div>
            <div class="stat-value viewingStat">{{ stats['remainingSeats'] }}</div>
            <div class="stat-desc text-wrap viewingStat">Most remaining: {{ stats['mostRemaining']['viewingName'] }} - {{ stats['mostRemaining']['remainingSeats'] }} </div>
        </div>
        </div> 
    </div>

    <div class="sm:col-span-4 bg-base-300 card card-primary">
    <div class="card-header">
        <h3 class="card-title">Card Title</h3>
    </div>
    </div>

    <div class="sm:col-span-3 bg-base-300 card card-primary">
    <div class="card-header">
        <h3 class="card-title">Ticket Sales</h3>
        <script type="module" src="../static/barChart.js"></script>

        <div class="w-full h-full"><canvas id="barChart1"></canvas></div>

    </div>
    </div>
        <div class="sm:col-span-3 bg-base-300 card card-primary">
    <div class="card-header">
        <h3 class="card-title">Card Title</h3>
    </div>
    </div>
</div>
</div>

{% endblock %}