{% extends 'layout.html' %} 

{% block head %}

<title>Ticket Selection</title>
<script src="../static/ticketSelector.js"></script>

<!-- Passing data to JS -->
<script>

</script>

{% endblock %}

{% block body %}

<!-- Content Container -->
<div class="mx-4 mb-3 w-content flex flex-col gap-3 items-center">
    <div class="text-sm breadcrumbs py-0">
    <ul>
        <li><a href="/booking/new">Viewings</a></li> 
        <li class="font-bold">Ticket Selection</li> 
        <li><a href="/booking/seats">Seat Selection</a></li>
        <li><a href="/booking/summary">Summary</a></li>
    </ul>

    </div>

    <h1 class="text-3xl sm:text-6xl my-6 text-center align-middle font-bold">{{ viewing.Name }} - Select Your Tickets</h1>

    <!-- Interaction box container -->
    <div class="flex flex-col w-full sm:w-5/6 lg:w-7/12 ">
        <!-- Main interaction card -->
        <div class="card bg-base-300 min-h-96 w-full">
            {% if viewing.Banner %}
                <figure class="h-24"><img class="w-full" src="{{ viewing.Banner }}" alt="{{viewing.name}} banner" /></figure>
            {% else %}
                <figure></figure>
            {% endif %}
            <div class="card-body gap-8 p-3 sm:p-10">
                <h2 class="card-title text-2xl sm:text-4xl font-bold">{{ viewing.Name }}</h2>
            
                <div class="flex flex-col gap-4">
                {% for ticketType in ticketTypes %}
                    <div class="flex bg-base-200 rounded-box p-4 items-center">
                        <p class="text-lg sm:text-2xl font-bold text-slate-700">{{ ticketType.Name }}</p>
                        <p class="text-lg sm:text-2xl font-semibold text-slate-400 grow-0 px-5">{{  "£%.2f"|format(ticketType.Price) }}</p>
                        <div class="flex items-center justify-center">
                            <button class="px-4 py-2 bg-secondary text-white rounded-l-lg transition-all ease-in-out duration-200 hover:bg-slate-600" onclick="decrementTicket({{ ticketType.ID }})">-</button>
                            <input disabled="disabled" id="{{ ticketType.ID }}" class="px-4 py-2 bg-white text-gray-700 w-20 text-center" value="0">
                            <button class="px-4 py-2 bg-secondary text-white rounded-r-lg transition-all ease-in-out duration-200 hover:bg-slate-600" onclick="incrementTicket({{ ticketType.ID }})">+</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>

        </div>

        <div class="flex flex-col gap-4 sm:gap-0 my-3 px-0 p-3 sm:flex-row w-full items-center justify-between transition-full ease-in-out duration-100">
            <div></div> <!-- Spacer -->

            <div class="tooltip order-2 tooltip-left" id="continueTooltip" data-tip="Select a ticket to continue">
                <button class="btn btn-primary items-center btn-block sm:btn-md mw-8 sm:mw-0 sm:w-auto flex-end rounded-md text-base-200 transition-all ease-in-out duration-200" onclick="submitSeats()" disabled="disabled" id="continueBtn">Continue
                    <!-- prettier-ignore -->
                    <svg class="stroke-base-200 transition-all ease-in-out duration-400" width="16px" height="16px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M5 12H19M19 12L13 6M19 12L13 18" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                </button>
            </div>
        </div>

        </div>
    </div>
</div>
<!-- End Content Container -->

{% endblock %}